<div>
  <div>
    <h1>
      List of all upcomings
    </h1>
  </div>
</div>
    <% if session.fetch("user_id") == 1 %>
<hr>

<div>
  <div>
    
    <h2>
      Add a new upcoming
    </h2>


    
    <form action="/insert_upcoming" method="post">
      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image">
      </div>

      <div>
        <label for="price_range_box">
          Price range
        </label>

        <input type="text" id="price_range_box" name="query_price_range">
      </div>

      <div>
        <label for="votes_box">
          Votes
        </label>

        <input type="text" id="votes_box" name="query_votes">
      </div>

      <button>
        Create upcoming
      </button>
    </form>
    <% end %>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Location
        </th>

        <th>
          Image
        </th>

        <th>
          Price range
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>
        
        <th>
          Votes
        </th>
<% if session.fetch("user_id") == 1 %>
        <th>
        </th>
<% end %>
      </tr>

      <% @list_of_upcomings.each do |an_upcoming| %>
      <tr>
        <td>
          <%= an_upcoming.location %>
        </td>

        <td>
          <%#= an_upcoming.image %>
          <%= image_tag(an_upcoming.image, width: "200") if an_upcoming.image.present? %>
        </td>

        <td>
          <%= an_upcoming.price_range %>
        </td>

        <td>
          <%= time_ago_in_words(an_upcoming.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_upcoming.updated_at) %> ago
        </td>
        
        <td>
          <%= an_upcoming.votes %>
        </td>
<% if session.fetch("user_id") == 1 %>
        <td>
          <a href="/upcomings/<%= an_upcoming.id %>">
            Show details
          </a>
        </td>
<% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
