



<div>
  <div>
    <h1>
      Potential Trip Dates
    </h1>
  </div>
</div>

<hr>

<% if session.fetch("user_id") == 1 %>
<div>
  <div>
    <h2>
      Add a new date vote
    </h2>

    <form action="/insert_date_vote" method="post">
      <div>
        <label for="date_box">
          Date
        </label>

        <input type="date" id="date_box" name="query_date">
      </div>

      <button>
        Add new date
      </button>
    </form>
  </div>
</div>

<% end %>

<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Date
        </th>

        <th>
          Vote Count
        </th>

        <th>
        Vote
        </th>
<% if session.fetch("user_id") == 1 %>
        <th>

        </th>
<% end %>
      </tr>

      <% @list_of_date_votes.each do |a_date_vote| %>
      <tr>

        <td>
          <%= a_date_vote.date %>
        </td>

        <td>
          <%= a_date_vote.votes %>
        </td>

        <td>
        <div>
        <a href="/date_upvote/<%= a_date_vote.id %>">
          Upvote
        </a>
          </div>
        <a href="/date_downvote/<%= a_date_vote.id %>">
          Downvote
        </a>
        </td>
<% if session.fetch("user_id") == 1 %>
        <td>
          <a href="/date_votes/<%= a_date_vote.id %>">
            Show details
          </a>
        </td>
<% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
  <div>
    <h1>
      Potential Trip Destinations
    </h1>
  </div>
</div>

<% if session.fetch("user_id") == 1 %>

<div>
  <div>
    
    <h2>
      Add a new upcoming
    </h2>


    
    <form action="/insert_upcoming" method="post">
      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image">
      </div>

      <div>
        <label for="price_range_box">
          Price range
        </label>

        <input type="text" id="price_range_box" name="query_price_range">
      </div>

      <button>
        Create upcoming
      </button>
    </form>
    <% end %>
  </div>
</div>

<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Location
        </th>

        <th>
          Image
        </th>

        <th>
          Price range
        </th>

        <th>
          Created at
        </th>

        <th>
          Vote
        </th>
        
        <th>
          Votes
        </th>
<% if session.fetch("user_id") == 1 %>
        <th>
        </th>
<% end %>
      </tr>

      <% @list_of_upcomings.each do |an_upcoming| %>
      <tr>
        <td>
          <%= an_upcoming.location %>
        </td>

        <td>
          <%#= an_upcoming.image %>
          <%= image_tag(an_upcoming.image, width: "300") if an_upcoming.image.present? %>
        </td>

        <td>
          <%= an_upcoming.price_range %>
        </td>

        <td>
          <%= time_ago_in_words(an_upcoming.created_at) %> ago
        </td>

        <td>
          <div>
        <a href="/upvote/<%= an_upcoming.id %>">
          Upvote
        </a>
          </div>
        <a href="/downvote/<%= an_upcoming.id %>">
          Downvote
        </a>
        </td>
        
        <td>
          <%= an_upcoming.votes %>
        </td>
<% if session.fetch("user_id") == 1 %>
        <td>
          <a href="/upcomings/<%= an_upcoming.id %>">
            Show details
          </a>
        </td>
<% end %>
<% end %>
      </tr>
    </table>
  </div>
</div>

<hr>
