<div>
  <div>
    <h1>
      Upcoming Trip #<%= @the_upcoming.id %> Details
    </h1>

    <div>
      <div>
        <a href="/upcomings">
          Go back
        </a>
      </div>
      <p>

      </p>

      <% if session.fetch(:user_id) == 1%>
      <div>
        <a href="/delete_upcoming/<%= @the_upcoming.id %>">
          Delete upcoming
        </a>
      </div>
      <% end %>
    </div>

    <dl>
      <dt>
        Location
      </dt>
      <dd>
        <%= @the_upcoming.location %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <%= image_tag(@the_upcoming.image, width: "400") if @the_upcoming.image.present? %>
      </dd>

      <dt>
        Price range
      </dt>
      <dd>
        <%= @the_upcoming.price_range %>
      </dd>

      <dt>
        Upvotes
      </dt>
      <dd>
        <%= @the_upcoming.upvote %>
      </dd>

      <dt>
        Downvotes
      </dt>
      <dd>
        <%= @the_upcoming.downvote %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_upcoming.created_at) %> ago
      </dd>

    </dl>
  </div>
</div>

<hr>

<div class="col-3">
<% if session.fetch(:user_id) ==1 %>
<div>
  <div>
    <h2>
      Edit upcoming
    </h2>

    <form action="/modify_upcoming/<%= @the_upcoming.id %>"  method="post" class="form-label">
      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location" value="<%= @the_upcoming.location %>" class="form-control">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_upcoming.image %>" class="form-control">
      </div>

      <div>
        <label for="price_range_box">
          Price range
        </label>

        <input type="text" id="price_range_box" name="query_price_range" value="<%= @the_upcoming.price_range %>" class="form-control">
      </div>

      <button class="btn btn-primary">
        Update upcoming
      </button>
    </form>
  </div>
</div>


<hr>
<% end %>
</div>

<h2> Comments </h2>

<div class="col-6">
<table border="1" class="table text-center align-middle">
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
    <th></th>
  </tr>

<% @the_upcoming.comment.each do |a_comment| %>
  <tr>
    <td>
      <%= a_comment.commenter.username %>
    </td>

    <td>
      <%= a_comment.body %>
    </td>

    <td>
      <%= a_comment.created_at %>
    </td>

    <% if session.fetch(:user_id) == a_comment.commenter.id %>
    <td>
      <a href="/delete_location_comment/<%= a_comment.id %>">
        Delete Comment
      </a>
    </td>
    <% else %>
    <td>
      
    </td>
    <% end %>
  </tr>
<% end %>
</table>
</div>


<div class="col-3">
<h3> Add new comment </h3>
    <form action="/insert_location_comment/<%= params.fetch("path_id")%>" method="post" class="form-label">
      <div>
        <label for="comment_box">
          Comment
        </label>

        <input type="text" id="comment_box" name="query_body" class="form-control">
      </div>

      <button class="btn btn-primary">
      Add Comment
      </button>
    </form>
</div>
