<div>
  <div>
    <h1>
      Date #<%= @the_date_vote.id %> Details
    </h1>

    <div>
      <div>
        <a href="/upcomings">
          Go back
        </a>
      </div>
    
    <p>
    </p>

<% if session.fetch(:user_id) == 1%>
      <div>
        <a href="/delete_date_vote/<%= @the_date_vote.id %>">
          Delete date
        </a>
      </div>
<% end %>
    </div>
    <dl>
      <dt>
        Date
      </dt>
      <dd>
        <%= @the_date_vote.date %>
      </dd>

      <dt>
        Upvotes
      </dt>
      <dd>
        <%= @the_date_vote.upvotes %>
      </dd>
       <dt>
        Downvotes
      </dt>
      <dd>
        <%= @the_date_vote.downvotes %>
      </dd>     

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_date_vote.created_at) %> ago
      </dd>

    </dl>
  </div>
</div>

<hr>


<% if session.fetch(:user_id) == 1 %>
<div>
  <div>
    <h2>
      Edit Date
    </h2>

    <form action="/modify_date_vote/<%= @the_date_vote.id %>"  method="post" >
      <div>
        <label for="date_box">
          Date
        </label>

        <input type="date" id="date_box" name="query_date" value="<%= @the_date_vote.date %>">
      </div>

      <button class="btn btn-primary">
        Update Date
      </button>
    </form>
  </div>
</div>

<hr>
<% end %>

<h2> Comments </h2>

<div class="col-6">
<table border="1" class="table text-center align-middle">
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
    <th></th>
  </tr>

<% @the_date_vote.comment.each do |a_comment| %>
  <tr>
    <td>
      <%= a_comment.commenter.username %>
    </td>

    <td>
      <%= a_comment.body %>
    </td>

    <td>
      <%= a_comment.created_at %>
    </td>
    <% if session.fetch(:user_id) == a_comment.commenter.id %>
    <td>
      <a href="/delete_date_comment/<%= a_comment.id %>">
        Delete Comment
      </a>
    </td>
    <% else %>
    <td>
      
    </td>
    <% end %>
  </tr>
<% end %>
</table>
</div>


<div class="col-3">
<h3> Add new comment </h3>
    <form action="/insert_comment/<%= params.fetch("path_id")%>" method="post" class="form-label">
      <div>
        <label for="comment_box">
          Comment
        </label>

        <input type="text" id="comment_box" name="query_body" class="form-control">
      </div>

      <button class="btn btn-primary">
      Add Comment
      </button>
    </form>
</div>
