<div>
  <div>
    <h1>
      List of All Historical Results
    </h1>
  </div>
</div>
<% if session.fetch("user_id") == 1 %>
<hr>

<div class="col-3">
  <div>
    <h2>
      Add a new historical result
    </h2>


    <form action="/insert_historical" method="post" class="form-label">
      <div>
        <label for="date_box">
          Date
        </label>

        <input type="date" id="date_box" name="query_date" class="form-control">
      </div>

      <div>
        <label for="winning_team_box">
          Winning team
        </label>

        <input type="text" id="winning_team_box" name="query_winning_team" class="form-control">
      </div>

      <div>
        <label for="losing_team_box">
          Losing team
        </label>

        <input type="text" id="losing_team_box" name="query_losing_team" class="form-control">
      </div>

      <div>
        <label for="punishment_box">
          Punishment
        </label>

        <input type="text" id="punishment_box" name="query_punishment" class="form-control">
      </div>

      <button class="btn btn-primary">
        Create historical
      </button>
    </form>
  </div>
</div>
<% end %>
<hr>
<div class="col-9">
  <div>
    <table border="1" class="table text-center align-middle">
      <tr>

        <th>
          Date
        </th>

        <th>
          Winning team
        </th>

        <th>
          Losing team
        </th>

        <th>
          Punishment
        </th>
<% if session.fetch("user_id") == 1 %>
        <th>
        </th>
<% end %>
      </tr>

      <% @list_of_historicals.each do |a_historical| %>
      <tr>
        <td>
          <%= a_historical.date %>
        </td>

        <td>
          <%= a_historical.winning_team %>
        </td>

        <td>
          <%= a_historical.losing_team %>
        </td>

        <td>
          <%= a_historical.punishment %>
        </td>
<% if session.fetch("user_id") == 1 %>
        <td>
          <a href="/historicals/<%= a_historical.id %>">
            Show details
          </a>
        </td>
<% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
