<div>
  <div>
    <h1>
      Trip Photos
    </h1>
  </div>
</div>

<hr>

<div>
  <div class="col-3">
    <h2>
      Add a new photo
    </h2>

    <form action="/insert_gallery" method="post" class="form-label">
      <div>
        <label for="trip_box">
          Trip
        </label>

        <input type="text" id="trip_box" name="query_trip" class="form-control">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" class="form-control">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" class="form-control">
      </div>

      <button class="btn btn-primary">
        Add Photo
      </button>
    </form>
  </div>
</div>

<hr>
<div class="col-9">
  <div>
    <table border="1" class="table text-center align-middle">
      <tr>

        <th>
          Trip
        </th>

        <th>
          Image
        </th>

        <th>
          Description
        </th>

        <th>
          Votes
        </th>
<% if session.fetch("user_id") == 1 %>
        <th>
        </th>
<% end %>
      </tr>

      <% @list_of_galleries.each do |a_gallery| %>
      <tr>

        <td>
          <%= a_gallery.trip %>
        </td>

        <td>
          <%#= a_gallery.image %>
          <%= image_tag(a_gallery.image, width: "200") if a_gallery.image.present? %>
        </td>

        <td>
          <%= a_gallery.description %>
        </td>

        <td>
          <%= a_gallery.votes %>
        </td>
<% if session.fetch("user_id") == 1 %>
        <td>
          <a href="/galleries/<%= a_gallery.id %>">
            Show details
          </a>
        </td>
<% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
