<div>
  <div>
    <h1>
      List of all members
    </h1>
  </div>
</div>

<% if session.fetch("user_id") == 1 %>
<hr>

<div>
  <div class="col-6">
    <h2>
      Add a new member
    </h2>

    <form action="/insert_member" method="post" class="form-label">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" class="form-control">
      </div>

      <div>
        <label for="nickname_box">
          Nickname
        </label>

        <input type="text" id="nickname_box" name="query_nickname" class="form-control">
      </div>

      <div>
        <label for="hometown_box">
          Hometown
        </label>

        <input type="text" id="hometown_box" name="query_hometown" class="form-control">
      </div>

      <div>
        <label for="bio_box">
          Bio
        </label>

        <input type="text" id="bio_box" name="query_bio" class="form-control">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" class="form-control">
      </div>

      <button class="btn btn-primary">
        Create member
      </button>
    </form>
  </div>
</div>
<% end %>
<hr>
<div>
  <div>
    <table border="1" class="table text-center align-middle">
      <tr>
        <th>
          Image
        </th>

        <th>
          Name
        </th>

        <th>
          Nickname
        </th>

        <th>
          Hometown
        </th>

        <th>
          Bio
        </th>

<% if session.fetch("user_id") == 1 %>
        <th>
        </th>
<% end %>
      </tr>

      <% @list_of_members.each do |a_member| %>
      <tr>
        <td>
          <%#= a_member.image %>
          <%= image_tag(a_member.image, width: "200") if a_member.image.present? %>
        </td>

        <td>
          <%= a_member.name %>
        </td>

        <td>
          <%= a_member.nickname %>
        </td>

        <td>
          <%= a_member.hometown %>
        </td>

        <td class="text-start">
          <%= a_member.bio %>
        </td>
<% if session.fetch("user_id") == 1 %>
        <td>
          <a href="/members/<%= a_member.id %>">
            Show details
          </a>
        </td>
<% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
